<body>
<div class="container-fluid">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="./assets/Images/large2.png" class="rounded-circle" width="70px" height="50px" alt="">
        </a>
        <h1 class="threeD"><b><i>CarSpa<sub style="font-size:medium">You Drive.. You Save</sub></i></b></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="login">Login & SignUp</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- <div class="row">
        <img src="./assets/Images/heading-bg.jpg" width="1470" height="380" style="margin-left: 15px;">
    </div> -->
    <router-outlet></router-outlet>
    </div>
</body>
